body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}



/* my coding */
.footer-top {
    background-color: #111;
    padding: 50px 0;
}

.segment-one h2 {
    font-family: courgette;
    color: #b3d9ff;
    letter-spacing: 3px;
    margin: 10px;
}

.segment-one {
    font-family: courgette;
    font-size: 17px;
    color: #b3d9ff;
    letter-spacing: 1px;
}

.segment-two {
    font-family: courgette;
    font-size: 20px;
    color: #b3d9ff;
    letter-spacing: 3px;
}

.segment-three {
    font-family: courgette;
    font-size: 19px;
    color: #b3d9ff;
    letter-spacing: 3px;
}

.navbar {
    height: 70px;
}
