@{
    ViewBag.Title = "About";
}

    <div class="container-fluid">
         <img src="~/images/careers.png" style="height:350px; width:100%;"><br /><br />
            <div class="row">
                <div class="col-sm-3">
                    @*<a style="font-size:25px;">
                        <img src="~/images/man-icon.png" style="height:30px; width:20px;"> KNOW US
                    </a>*@
                </div>
                <div class="col-sm-4" style="background-color:steelblue; height:5px; margin-top:20px;"></div>
                <div class="col-sm-4" style="background-color:black; height:5px; margin-top:20px; margin-left:70px;"></div>
            </div><br /><br />


          <div class="row">
              <div class="container">
                  <div class="row shadow">
                      <h3 class="p-2 bg-dark w-100" style="color:lightblue;">ABOUT US</h3>

                      <div class="col-md-6 col-sm-12  p-4">
                          <img src="~/images/verifacts-logo.jpg" class="img-thumbnail img-fluid" />
                      </div>
                      <div class="col-md-6 col-sm-12  p-4 text-justify">
                          <p>
                              <b>VerifyPrism LLP </b>is an Indian Start up for Background Verification and Asset Management firm based in New Delhi, India, provides cost-effective and customized background check and assets Management services. We are ISO 9001:2015 certified.
                          </p>
                          <p>
                              We offer comprehensive background screening solutions enabled by cutting-edge technology and largest databases searches to create an environment of trust for organizations to hire and conduct business with confidence.
                          </p>

                      </div>
                  </div>
                  <h3 class="p-4 bg-dark text-primary text-right ">VISION</h3>
                  <p class="shadow text-justify  p-4">
                      Your trusted onboarding partner for a secured future.
                  </p>
                  <h3 class="p-4 bg-dark text-primary text-right ">MISSION</h3>
                  <p class="shadow text-justify  p-4">
                      Satisfied employees deliver sustainable results.
                  </p>
              </div>
          </div>


    </div>
