@{
    ViewBag.Title = "About";
}

    <div class="container-fluid">
         <img src="~/images/careers.png" style="height:350px; width:100%;"><br /><br />
            <div class="row">
                <div class="col-sm-3">
                    <a style="font-size:25px;">
                        <img src="~/images/man-icon.png" style="height:30px; width:20px;"> KNOW US
                    </a>
                </div>
                <div class="col-sm-4" style="background-color:orangered; height:5px; margin-top:20px;"></div>
                <div class="col-sm-4" style="background-color:black; height:5px; margin-top:20px; margin-left:70px;"></div>
            </div><br /><br />


          <div class="row">
              <div class="col-sm-11">
                  <h3>ABOUT US</h3>
                  <p style="margin-left:25px;">
                      Verifyprism is a background/antecedents verification company, specializing in the field
                      of Candidate Authentication Program (CAP). Headquartered in Bangalore, with nine other
                      branches in India and several associates across the globe, Verifacts provides its
                      services to a large number of Multinational & National companies across the Globe
                      effectively.
                  </p>

                  <p style="margin-left:25px;">
                      . Since 2019-2020, Verifyprism has been the most trusted partner in Employee Background
                      Verification industry for more than 700 Companies across the world by being a part
                      of their HR Team & supporting them in making the Right Hiring Decision.
                  </p>

                  <p style="margin-left:25px;">
                      . Verifyprism is considered to be a pioneer in the Background Verification Industry.
                  </p>

                  <p style="margin-left:25px;">
                      . We cover almost all the checks. It includes Education Verification, Employment
                      Verification, Address Verification, Criminal Verifications, ID Verifications,
                      International Data Base check (IDB), Drug Test, Credit Check, Professional Reference
                      Check, Medical Check , GAP Verification, Special Investigation, International checks,
                      Social Media Profiling, Psychometric Tests.
                  </p><br />

                  <h3>VISION</h3>
                  <p style="margin-left:25px;">
                      Your trusted onboarding partner for a secured future.
                  </p>

                  <h3>MISSION</h3>
                  <p style="margin-left:25px;">
                      Satisfied employees deliver sustainable results.
                  </p>
              </div>
          </div>


    </div>
