@{
    ViewBag.Title = "Address Verification";
}

<div style="height:20px;"></div>
<div class="container-fluid">
    <img src="~/images/slide2.png" style="height:350px; width:100%;"><br /><br />

    <a style="font-size:25px;">
        <img src="~/images/man-icon.png" style="height:30px; width:20px; margin-left:310px;"> ADDRESS VERIFICATION
    </a>
    <div class="row">
        <div class="col-sm-3">
            <p style="font-size:19px;">E Coupon</p><hr color="black" size="17" width="90%" />
        </div>
        <div class="col-sm-4" style="background-color:orangered; height:5px; margin-top:41px;"></div>
        <div class="col-sm-4" style="background-color:black; height:5px; margin-top:41px;"></div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <p style="color:gray; font-size:13px;">Coming Soon….</p>
        </div>
        <div class="col-sm-8">
            <p><strong>What –</strong> Address Verification is conducted to ascertain whether the subject is a resident of the given address.</p><br />

            <p><strong>Why –</strong> Address verification is considered to be important and has to go hand-in-hand with a criminal verification. During the address verification stage, a lot of information about the candidate can be gathered which otherwise is unavailable to the Employer. We have also witnessed cases where candidates have provided fake address proof at the time of joining an Organization which provides them with an easy escape route after committing a crime.</p><br />

            <p><strong>How –</strong> Physical visit is done to given address to ascertain if the candidate resides at the address. Verification of the period of stay, residential status and other details are confirmed.</p><br />

            <a href="../Home/EducationLogin" class="btn btn-lg active" role="button" aria-pressed="true" style="background-color:forestgreen;">
                Login
            </a>
            <a href="../Home/EducationLogin" class="btn btn-lg active" role="button" aria-pressed="true" style="background-color:forestgreen;">
                Register
            </a>
            <a href="#" class="btn btn-lg active" role="button" aria-pressed="true" style="background-color:forestgreen;">
                Download Report
            </a>
        </div>
    </div>




</div>