@{
    ViewBag.Title = "Online Client View";
}

    <div style="height:20px;"></div>
    <div class="container-fluid"><br /><br />
        <center>
            <h2>VERIFACTS FACILITY FOR CLIENT VIEW</h2>
        </center><br /><br />
        <div class="row">
            <div class="col-sm-2" style="border:1px solid green; margin-left:30px; background-color:ghostwhite;">
                <div style="height:30px; width:100%; background-color:antiquewhite;">
                    <center>
                        <strong style="font-size:20px;">Instructions</strong>
                    </center>
                </div>
                <marquee direction="up">
                    <ul>
                        <li>You are at the log in page for CDF Client View Facility of Verifyprism Group.</li>
                        <li>Please enter the company ID (optional username) and password provided to you by Verifyprism Group.</li>
                    </ul>
                </marquee>
            </div>
            <div class="col-sm-8" style="border:2px solid blue; border-radius:5px; background-color:azure; margin-left:40px;">
                <h3>Login Page for Client Company View of Online CDFS</h3><hr /><br /><br />
                <p>
                    PLEASE LOG IN TO THE CVWS ONLINE SERVER. <br />
                    Access to this facility is through a Company ID and Password supplied for this purpose.<br />
                    Optionally, usernames may have been specified if so instructed.<br />
                    Please approach your ONLINE CVWS ADMINISTRATOR of Verifyprism Group if Client View not been online facilitated.<br />
                    Please key in Company ID, Username (if Specified) and Password exactly as given into the boxes below.
                </p><br />

                <form action="/action_page.php">
                    <strong>COMPANY ID:</strong><input type="text" id="text" name="COMPANY ID" style="margin-left:179px;"><br />

                    <strong>USER NAME (IF SPECIFIED):</strong><input type="text" id="text1" name="USER NAME (IF SPECIFIED)" style="margin-left:78px; margin-top:20px;"><br />

                    <strong>PASSWORD:</strong><input type="password" id="pwd" name="PASSWORD" style="margin-left:191px; margin-top:20px;"><br />

                    <button type="submit" class="btn btn-primary" style="margin-left:283px; margin-top:20px;">LOG IN</button>
                </form><br />
                <p>IF LOG IN IS NOT SUCCESSFUL, ERROR WILL BE REPORTED ON TOP LEFT OF PAGE.</p>
            </div>
        </div>






    </div>