@{
    ViewBag.Title = "Contact";
}


    <div class="container-fluid">
        <img src="~/images/cont.png" style="height:350px; width:100%;"><br /><br />
        <div class="row">
            <div class="col-sm-3">
                <a style="font-size:25px;">
                    <img src="~/images/man-icon.png" style="height:30px; width:20px;"> Contact Us
                </a>
            </div>
            <div class="col-sm-4" style="background-color:orangered; height:5px; margin-top:20px;"></div>
            <div class="col-sm-4" style="background-color:black; height:5px; margin-top:20px; margin-left:70px;"></div>
        </div><br /><br />

        <div class="row">
            <div class="col-sm-7">
                <img src="~/images/Contact.png" height="450" width="700" />
            </div>
            <div class="col-sm-3">
                <br /><br />
                <strong>Bengaluru (Registered Office):</strong><br /><br />
                <p>#4007 , 1st and 2nd  Floor, “Hallmark</p>
                <p>Square”, 100ft Road, Indira Nagar, </p>
                <p>Bengaluru – 560038.</p>
                <p>Phone: +91 9167775360</p>
                <p>Fax: +91 – 080- 41510771</p>
                <p>Email: sales@verifacts.co.in</p>
            </div>
        </div>

        <p><strong>Disclaimer:</strong> Map is for representation purpose only*</p>


        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-7">
                <form>
                    <input type="text" class="form-control" placeholder="NAME" id="usr" name="name"><br />

                    <input type="text" class="form-control" id="email" placeholder="EMAIL ID" name="email"><br />

                    <input type="text" class="form-control" placeholder="COMPANY NAME" id="usr" name="company name"><br />

                    <input type="tel" class="form-control" placeholder="CONTACT NO" name="pswd"><br />

                    <textarea class="form-control" rows="3" id="comment" placeholder="YOUR FEEDBACK HERE"></textarea><br />

                    <button type="submit" class="btn btn-primary" style="width:280px;">
                        SEND A REQUEST
                    </button>
                </form>
            </div>
        </div>






    </div>