@{
    ViewBag.Title = "Contact";
}


    <div class="container-fluid">
        <img src="~/images/cont.png" style="height:350px; width:100%;"><br /><br />
        <div class="row">
            <div class="col-sm-3">
                <a style="font-size:25px;">
                    <img src="~/images/man-icon.png" style="height:30px; width:20px;"> Contact Us
                </a>
            </div>
            <div class="col-sm-4" style="background-color:orangered; height:5px; margin-top:20px;"></div>
            <div class="col-sm-4" style="background-color:black; height:5px; margin-top:20px; margin-left:70px;"></div>
        </div><br /><br />

        <div class="row">
            <div class="col-sm-7">
                <img src="~/images/Contact.png" height="450" width="700" />
            </div>
            <div class="col-sm-3">
                <br /><br />
                <strong>Sant Nager (Registered Office):</strong><br /><br />
                <p>#14 , 1st Floor, “Sant Nager Market</p>
                <p>Santnager”, Burari Road, Sant Nagar, </p>
                <p>Sant Nager – 110084.</p>
                <p>Phone: +91 9914491960</p>
                <p>Fax: +91 – 011- 57269574</p>
                <p>Email: info@codelovertechnology.com</p>
            </div>
        </div>

        <p><strong>Disclaimer:</strong> Map is for representation purpose only*</p>


        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-7">
                <form action="/action_page.php" method="post">
                    <input type="text" class="form-control" placeholder="NAME" id="usr" name="name" required><br />

                    <input type="text" class="form-control" id="email" placeholder="EMAIL ID" name="email" required><br />

                    <input type="tel" class="form-control" pattern="[0-9]{10}" placeholder="CONTACT NO" name="pswd" required><br />

                    <textarea class="form-control" rows="3" id="comment" placeholder="YOUR FEEDBACK HERE" required></textarea><br />

                    <button type="submit" class="btn btn-primary" style="width:280px;">
                        SEND A REQUEST
                    </button>
                </form>
            </div>
        </div>






    </div>