@{
    ViewBag.Title = "For Individual";
}

<div style="height:20px;"></div>
<div class="container-fluid">
    <img src="~/images/slide3.png" style="height:350px; width:100%;"><br /><br />

    <a style="font-size:25px;">
        <img src="~/images/man-icon.png" style="height:30px; width:20px; margin-left:310px;"> EDUCATION VERIFICATION
    </a>
    <div class="row">
        <div class="col-sm-3">
            <p style="font-size:19px;">E Coupon</p><hr color="black" size="17" width="90%" />
        </div>
        <div class="col-sm-4" style="background-color:orangered; height:5px; margin-top:41px;"></div>
        <div class="col-sm-4" style="background-color:black; height:5px; margin-top:41px;"></div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <p style="color:gray; font-size:13px;">Coming Soon….</p>
        </div>
        <div class="col-sm-8">
            <p><strong>What –</strong> Education verification is done to check the authenticity of the education credentials of a candidate. It verifies the certification, training, or educational claims of a job applicant.</p><br />

            <p><strong>Why –</strong> Education and training are often key to an employee’s on-the-job success. Hence, it becomes critical to ascertain the candidate’s educational credentials. Another factor that is looming large on Employer’ radar is the increasing number of fraudulent educational certificates and Fake Universities.</p><br />

            <p><strong>How –</strong> The College, University or the Study Center is checked against the database developed by Verifyprism that includes thousands of Institutions across the country. All education verifications are done by obtaining confirmation from the College / University.</p><br />

            <a href="#" class="btn btn-lg active" role="button" aria-pressed="true" style="background-color:forestgreen;">
                <i class="fa fa-sign-in"></i>
                Login
            </a>
        </div>
    </div>




</div>