@{
    ViewBag.Title = "Employment Verification";
}

<div style="height:20px;"></div>
<div class="container-fluid">
    <img src="~/images/emp.jpg" style="height:350px; width:100%;"><br /><br />

    <a style="font-size:25px;">
        <img src="~/images/man-icon.png" style="height:30px; width:20px; margin-left:310px;"> EMPLOYMENT VERIFICATION
    </a>
    <div class="row">
        <div class="col-sm-3">
            <p style="font-size:19px;">E Coupon</p><hr color="black" size="17" width="90%" />
        </div>
        <div class="col-sm-4" style="background-color:orangered; height:5px; margin-top:41px;"></div>
        <div class="col-sm-4" style="background-color:black; height:5px; margin-top:41px;"></div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <p style="color:gray; font-size:13px;">Coming Soon….</p>
        </div>
        <div class="col-sm-8">
            <p><strong>What –</strong> Employment verification is done to check the authenticity of previous employment of a candidate.</p><br />

            <p><strong>Why –</strong> It is said that prior work history is a good predictor of future performance. Employment represents the most common area where an applicant may falsify information. Statistics shows that employment verification throws out a large number of variations and discrepancies in the fields of salary, designation and tenure. Looking into a candidate’s past work history can also reveal insight into their job stability and loyalty to an employer. Because of the frequency of exaggerated and fraudulent employment claims, this search is a good test of an applicant’s honesty.</p><br />

            <p><strong>How –</strong> Employment Verifications are conducted by contacting previous employers to verify an applicant’s job title, tenure and salary claims. Reasons for leaving and eligibility for rehire are also confirmed.</p><br />

            <a href="../Home/EducationLogin" class="btn btn-lg active" role="button" aria-pressed="true" style="background-color:forestgreen;">
                Login
            </a>
            <a href="../Home/EducationLogin" class="btn btn-lg active" role="button" aria-pressed="true" style="background-color:forestgreen;">
                Register
            </a>
            <a href="#" class="btn btn-lg active" role="button" aria-pressed="true" style="background-color:forestgreen;">
                Download Report
            </a>
        </div>
    </div>

</div>