@{
    ViewBag.Title = "For Candidate";
}



    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2">
                <img src="~/images/ssl.png" style="height:130px; width:150px;" />
            </div>
            <div class="col-sm-1">
                <img src="~/images/modern-india.png" style="height:130px; width:150px;" />
            </div>
            <div class="col-sm-5">
                <img src="~/images/facilitation.png" style="height:130px; width:500px;" />
            </div>
            <div class="col-sm-2">
                <img src="~/images/one-eye.png" style="height:130px; width:150px;" />
            </div>
            <div class="col-sm-1">
                <img src="~/images/ssl.png" style="height:130px; width:150px;" />
            </div>
        </div><br /><br />
        <strong style="font-size:23px;">LOG IN PAGE FOR CANDIDATES</strong><br /><br />

        <div class="row">
            <div class="col-sm-3" style="border:2px solid green; margin-left:10px;">
                <img src="~/images/bird.png" style="height:280px; width:290px;" />
            </div>
            <div class="col-sm-7">
                <p style="color:blue;">YOU ARE WELCOME TO THE ONLINE FORM ENTRY FACILITY.</p><br />
                <p style="color:blue;">PLEASE LOG IN TO THE CVWS ONLINE SERVER.</p>
                <p style="color:blue;">
                    Access to this facility is through a company code that has been supplied by the agency guiding you.
                    Please key in the company code exactly as given into the box below.
                    Follow with hyphen and Employee ID if so instructed and verify that basic fields are displayed.
                    If not, you may have keyed in Employee ID wrongly. ABORT and log in again, carefully.
                </p>

                <p style="color:blue;">
                    <strong>ENTER GIVEN COMPANY CODE</strong>
                    <input type="text" name="email" style="height:25px; width:150px;">
                    <button style="font-size:14px; height:25px;">LOG IN</button>
                </p>
                <p style="color:blue;"><i>Else, to retrieve a CDF already submitted;</i></p>
            </div>
        </div>


        <div class="row">
            <div class="col-sm-3" style="border:2px solid green; margin-left:10px; background-color:antiquewhite;">
                <strong style="color:blueviolet;">INSTRUCTIONS</strong><br />
                <ul>
                    <li>You are at the first of four pages of the facility for ONLINE entry of Candidate Declaration Form (CDF).</li>
                    <li>On each page, please read instructions carefully and then only fill the forms.</li>
                    <li>If so instructed, key in hyphen followed by your Employee ID after the company code.</li>
                    <li>If you wish to quit,</li>
                </ul>
            </div>
            <div class="col-sm-7">
                <p style="color:blue;"><i>Enter below the CDF ID and PASSPHRASE allotted at that time.</i></p>

                <p style="color:blue;">
                    <strong>CDF ID</strong>
                    <input type="text" name="email" style="height:25px; width:150px;" />
                    <strong>PASSPHRASE</strong>
                    <input type="text" name="email" style="height:25px; width:150px;" />
                    <button style="font-size:14px; height:25px;">RETRIEVE</button>
                </p>
            </div>

        </div>








    </div>
