@{
    ViewBag.Title = "For Corporate";
}

    <div class="container-fluid">
        <img src="~/images/adv.png" style="height:350px; width:100%;"><br /><br />

        <a style="font-size:25px;">
            <img src="~/images/man-icon.png" style="height:30px; width:20px; margin-left:310px;"> ONLINE WORKFLOW
        </a>
        <div class="row">
            <div class="col-sm-3">
                <p style="font-size:19px;">E Coupon</p><hr color="black" size="17" width="90%" />
            </div>
            <div class="col-sm-4" style="background-color:orangered; height:5px; margin-top:41px;"></div>
            <div class="col-sm-4" style="background-color:black; height:5px; margin-top:41px;"></div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <p style="color:gray; font-size:13px;">Coming Soon….</p>
            </div>
            <div class="col-sm-4">
                <a href="../Home/StatusReport" target='_blank' class="btn btn-lg active" role="button" aria-pressed="true" style="background-color:#20df50; height:50px; width:400px; border:2px solid #20df50; border-radius:10px; font-size:19px">
                   <b>Online Status Report For Companies</b>
                </a><br /><br />
                <a href="../Home/ScrutinyFacility" target='_blank' class="btn btn-lg active" role="button" aria-pressed="true" style="background-color:#20df50; height:50px; width:400px; border:2px solid #20df50; border-radius:10px; font-size:19px">
                   <b>Online Scrutiny Facility For Managers</b>
                </a>
            </div>
            <div class="col-sm-4">
                <a href="../Home/OnlineCondadites" target='_blank' class="btn btn-lg active" role="button" aria-pressed="true" style="background-color:#20df50; height:50px; width:400px; border:2px solid #20df50; border-radius:10px; font-size:19px">
                   <b>Online Form Entry For Candidates</b>
                </a><br /><br />
                <a href="../Home/CdfClient" target='_blank' class="btn btn-lg active" role="button" aria-pressed="true" style="background-color:#20df50; height:50px; width:400px; border:2px solid #20df50; border-radius:10px; font-size:19px">
                   <b>CDF View For Clients</b>
                </a>
            </div>
        </div>






    </div>


