@{
    ViewBag.Title = "Forgot Password";
}

<div class="container">
    <div style="height:20px;"></div><br />
    <div style="background-color:aquamarine; height:40px;">
        <h2 style="color:darkred; text-align:center;"><b>**** FORGOT ****</b></h2>
    </div>
    <div>
        <br /><br />
        <center>
            <strong style="font-size:35px;">Forgot Password</strong><br /><br />
            <form action="/action_page.php" class="was-validated" method="post">
                <label for="email">Email:</label>
                <input type="email" placeholder="" name="Email" required style="width:230px; margin-left:103px; margin-top:20px; border:1px solid gray; border-radius:5px;"><br /><br />

                <button type="submit" class="btn btn-primary" style="font-size:15px; margin-left:135px;">Submit</button>
                
            </form>

        </center>
    </div>



</div>
