@{
    ViewBag.Title = "For Individual";
}


    <div class="container-fluid">
        <img src="~/images/slide2.png" style="height:350px; width:100%;"><br /><br />

        <a style="font-size:25px;">
            <img src="~/images/man-icon.png" style="height:30px; width:20px; margin-left:310px;"> ONLINE WORKFLOW
        </a>
        <div class="row">
            <div class="col-sm-3">
                <p style="font-size:19px;">E Coupon</p><hr color="black" size="17" width="90%" />
            </div>
            <div class="col-sm-4" style="background-color:orangered; height:5px; margin-top:41px;"></div>
            <div class="col-sm-4" style="background-color:black; height:5px; margin-top:41px;"></div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <p style="color:gray; font-size:13px;">Coming Soon….</p>
            </div>
            <div class="col-sm-4" style="background-color:#664db3; height:55px; width:auto;">
                <p style="font-size:33px;"><b>Services</b></p>
            </div>
            <div class="col-sm-4" style="background-color:#664db3; height:55px; width:auto;"></div>
        </div>
        <div class="row">
            <div class="col-sm-3">
            </div>
            <div class="col-sm-4" style="background-color:gainsboro; height:230px; width:auto;">
                <ul>
                    <li><a href="../Home/EducationVerification">Education Verification</a></li>
                    <li><a href="#">Address Verification</a></li>
                    <li><a href="#">Criminal Verification</a></li>
                    <li><a href="#">Drug Test</a></li>
                    <li><a href="#">Reference Check</a></li>
                    <li><a href="#">GAP Verification</a></li>
                    <li><a href="#">Psychometric Test</a></li>
                    <li><a href="#">Licence Check</a></li>
                </ul>
            </div>
            <div class="col-sm-4" style="background-color:gainsboro; height:230px; width:auto;">
                <ul>
                    <li><a href="#">Employment Verification</a></li>
                    <li><a href="#">ID Verification</a></li>
                    <li><a href="#">IDB Verification</a></li>
                    <li><a href="#">Credit Check</a></li>
                    <li><a href="#">Medical Check</a></li>
                    <li><a href="#">Finger Print Scanning</a></li>
                    <li><a href="#">Social Media Profiling</a></li>
                </ul>
            </div>
        </div><br /><br />


        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-4" style="background-color:#664db3; height:55px; width:auto;">
                <p style="font-size:33px;"><b>Packages</b></p>
            </div>
            <div class="col-sm-4" style="background-color:#664db3; height:55px; width:auto;"></div>
        </div>
        <div class="row">
            <div class="col-sm-3">
            </div>
            <div class="col-sm-4" style="background-color:gainsboro; height:210px; width:auto;">
                <ul>
                    <li><a href="#">Blue Collar</a></li>
                    <li><a href="#">Domestic Help</a></li>
                    <li><a href="#">Know Your Leader</a></li>
                    <li><a href="#">Security Guard</a></li>
                    <li><a href="#">Tenant Verification</a></li>
                </ul>
            </div>
            <div class="col-sm-4" style="background-color:gainsboro; height:210px; width:auto;">
                <ul>
                    <li><a href="#">Customized Verification</a></li>
                    <li><a href="#">Drivers Check</a></li>
                    <li><a href="#">Marriage Verification</a></li>
                    <li><a href="#">Self Verification</a></li>
                </ul>
            </div>
        </div>






    </div>


