@{
    ViewBag.Title = "Home Page";
}

<!--- slide image -->
    <div class="container-fluid">
        <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">

            <ul class="carousel-indicators">
                <li data-target="carouselExampleFade" data-slide-to="0" class="active"></li>
                <li data-target="carouselExampleFade" data-slide-to="1"></li>
                <li data-target="carouselExampleFade" data-slide-to="2"></li>
            </ul>

            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="~/images/slide1.png" alt="slide1" style="height:355px; width:100%;">
                </div>
                <div class="carousel-item">
                    <img src="~/images/slide2.png" alt="slide2" style="height:355px; width:100%;">
                </div>
                <div class="carousel-item">
                    <img src="~/images/slide3.png" alt="slide3" style="height:355px; width:100%;">
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div><br /><br /><br />


        <p>
            <strong>VERIFYPRISM</strong> over the years has helped several leading corporates reduce the risk of hiring
            employees with dubious background. The employee background reports provided by us are used by employers as
            a means of authenticating and objectively evaluating an individual’s identity, litigation status, educational
            qualification, career history etc.
        </p><br /><br />


        <a style="font-size:25px;">
            <img src="~/images/man-icon.png" style="height:30px; width:20px;"> PACKAGES
        </a>
        <div class="row">
            <div class="col-sm-6" style="background-color:orangered; height:5px;"></div>
            <div class="col-sm-6" style="background-color:black; height:5px;"></div>
        </div><br /><br />





        <div class="row">
            <div class="col-sm-3" style="background-color:limegreen; height:50px; width:220px; border-radius:0px 0px 190px 190px; text-align:center;">
                <b class="h3 p-5 m-3 text-white">Services</b><br />
            </div>

            <div class="col-sm-3" style="background-color:bisque; height:50px; width:220px; border-radius: 0px 0px 160px 160px; text-align: center;">
                <b class="h3 p-5 m-3">Silver</b><br />
            </div>

            <div class="col-sm-3" style="background-color:darkslateblue; height:50px; width:220px; border-radius:0px 0px 160px 160px; text-align:center;">
                <b class="h3 p-5 m-3 text-white">Gold</b><br />
            </div>

            <div class="col-sm-3" style="background-color:saddlebrown; height:50px; width:220px; border-radius:0px 0px 160px 160px; text-align:center;">
                <b class="h3 p-5 m-3 text-white">Platinum</b><br />
            </div>
        </div>


        <table class="table table-bordered table-hover" style="border-top:transparent;">
            
            <tr style="text-align:center;">
                 <td class="table-light" style="width:317px;">Address Verification – Permanent</td>
                 <td class="table-light" style="width:317px; text-align:center;"><img src="~/images/yeslogo.png" width="35" height="27"></td>
                 <td class="table-light" style="width:317px; text-align:center;"><img src="~/images/yeslogo.png" width="35" height="27"></td>
                 <td class="table-light" style="width:317px; text-align:center;"><img src="~/images/yeslogo.png" width="35" height="27"></td>
            </tr>
            <tr style="text-align:center;">
                 <td class="table-light">Criminal Verification – Court</td>
                 <td class="table-light" style="width:317px; text-align:center;"><img src="~/images/yeslogo.png" width="35" height="27"></td>
                 <td class="table-light" style="width:317px; text-align:center;"><img src="~/images/yeslogo.png" width="35" height="27"></td>
                 <td class="table-light" style="width:317px; text-align:center;"><img src="~/images/yeslogo.png" width="35" height="27"></td>
            </tr>
            <tr style="text-align:center;">
                 <td class="table-light">Criminal Verification – Police</td>
                 <td class="table-light" style="width:317px; text-align:center;"><img src="~/images/yeslogo.png" width="35" height="27"></td>
                 <td class="table-light" style="width:317px; text-align:center;"><img src="~/images/yeslogo.png" width="35" height="27"></td>
                 <td class="table-light"></td>
            </tr>
            <tr style="text-align:center;">
                 <td class="table-light">Identity Verification</td>
                 <td class="table-light" style="width:317px; text-align:center;"><img src="~/images/yeslogo.png" width="35" height="27"></td>
                 <td class="table-light" style="width:317px; text-align:center;"><img src="~/images/yeslogo.png" width="35" height="27"></td>
                 <td class="table-light"></td>
            </tr>
            <tr style="text-align:center;">
                 <td class="table-light">Neighbour Check</td>
                 <td class="table-light"></td>
                 <td class="table-light"></td>
                 <td class="table-light"></td>
            </tr>
            <tr style="text-align:center;">
                 <td class="table-light">Address Verification – Present</td>
                 <td class="table-light" style="width:317px; text-align:center;"><img src="~/images/yeslogo.png" width="35" height="27"></td>
                 <td class="table-light" style="width:317px; text-align:center;"><img src="~/images/yeslogo.png" width="35" height="27"></td>
                 <td class="table-light"></td>
            </tr>
            <tr style="text-align:center;">
                 <td class="table-light">Education Verification</td>
                 <td class="table-light"></td>
                 <td class="table-light" style="width:317px; text-align:center;"><img src="~/images/yeslogo.png" width="35" height="27"></td>
                 <td class="table-light" style="width:317px; text-align:center;"><img src="~/images/yeslogo.png" width="35" height="27"></td>
            </tr>
            <tr style="text-align:center;">
                <td class="table-light">Employment Verification</td>
                <td class="table-light"></td>
                <td class="table-light" style="width:317px; text-align:center;"><img src="~/images/yeslogo.png" width="35" height="27"></td>
                <td class="table-light" style="width:317px; text-align:center;"><img src="~/images/yeslogo.png" width="35" height="27"></td>
            </tr>
            <tr style="text-align:center;">
                 <td class="table-light">Global Database Check</td>
                 <td class="table-light"></td>
                 <td class="table-light" style="width:317px; text-align:center;"><img src="~/images/yeslogo.png" width="35" height="27"></td>
                 <td class="table-light"></td>
            </tr>
            <tr style="text-align:center;">
                 <td class="table-light">Credit Report</td>
                 <td class="table-light"></td>
                 <td class="table-light" style="width:317px; text-align:center;"><img src="~/images/yeslogo.png" width="35" height="27"></td>
                 <td class="table-light" style="width:317px; text-align:center;"><img src="~/images/yeslogo.png" width="35" height="27"></td>
            </tr>
            <tr style="text-align:center;">
                 <td class="table-light">Social Media Profiling</td>
                 <td class="table-light"></td>
                 <td class="table-light"></td>
                 <td class="table-light" style="width:317px; text-align:center;"><img src="~/images/yeslogo.png" width="35" height="27"></td>
            </tr>
            <tr style="text-align:center;">
                 <td class="table-light">Professional Reference Check</td>
                 <td class="table-light"></td>
                 <td class="table-light"></td>
                 <td class="table-light" style="width:317px; text-align:center;"><img src="~/images/yeslogo.png" width="35" height="27"></td>
            </tr>
            <tr style="text-align:center;">
                 <td class="table-light">Integrity Check</td>
                 <td class="table-light"></td>
                 <td class="table-light"></td>
                 <td class="table-light" style="width:317px; text-align:center;"><img src="~/images/yeslogo.png" width="35" height="27"></td>
            </tr>
            <tr style="text-align:center;">
                 <td class="table-light">360 Reference Check</td>
                 <td class="table-light"></td>
                 <td class="table-light"></td>
                 <td class="table-light" style="width:317px; text-align:center;"><img src="~/images/yeslogo.png" width="35" height="27"></td>
            </tr>
            <tr style="text-align:center;">
                 <td class="table-light">Finger Printing</td>
                 <td class="table-light"></td>
                 <td class="table-light"></td>
                 <td class="table-light"></td>
            </tr>
            <tr style="text-align:center;">
                 <td class="table-light">Psychometric Check</td>
                 <td class="table-light"></td>
                 <td class="table-light"></td>
                 <td class="table-light"></td>
            </tr>
            <tr style="text-align:center;">
                <td class="table-light">Drug Test</td>
                <td class="table-light"></td>
                <td class="table-light"></td>
                <td class="table-light"></td>
            </tr>
            <tr style="text-align:center;">
                 <td class="table-light">License Check</td>
                 <td class="table-light"></td>
                 <td class="table-light"></td>
                 <td class="table-light"></td>
            </tr>
            <tr style="text-align:center;">
                 <td class="table-light">Pre Employment Medical Check</td>
                 <td class="table-light"></td>
                 <td class="table-light"></td>
                 <td class="table-light"></td>
            </tr>
            <tr style="text-align:center;">
                <td rowspan="2" class="table-light">For Customised Verification, please click here.</td>
            </tr>
            <tr>
                <td class="table-light">
                    <p align="center" style="font-family: 'Open Sans', sans-serif; font-size: 14.5px;">Suitable for - Domestic, Security Guards</p>
                    <p align="center" style="font-family:Arial; font-size:20px;"><b>INR.900+ GST</b></p>
                </td>
                <td class="table-light">
                    <p align="center" style="font-family: 'Open Sans', sans-serif; font-size: 14.5px;">Suitable for - Domestic, Security Guards</p>
                    <p align="center" style="font-family:Arial; font-size:20px;"><b>INR.500+ GST</b></p>
                </td>
                <td class="table-light">
                    <p align="center" style="font-family: 'Open Sans', sans-serif; font-size: 14.5px;">Suitable for - Know Your Leader</p>
                    <p align="center" style="font-family:Arial; font-size:20px;"><b>INR.700+ GST</b></p>
                </td>
            </tr>
            <tr>
                <td class="table-light">
                    <a href="../Home/ReadMore1" target='_blank' class="btn btn-lg active" role="button" aria-pressed="true" style="height:45px; width:297px; background-color:orangered; color:black; font-size:13px; border:1px solid orangered;">Read More</a>
                </td>
                <td class="table-light">
                    <a href="../Home/ReadMore2" target='_blank' class="btn btn-lg active" role="button" aria-pressed="true" style="height:45px; width:297px; background-color:orangered; color:black; font-size:13px; border:1px solid orangered;">Read More</a>
                </td>
                <td class="table-light">
                    <a href="../Home/ReadMore3" target='_blank' class="btn btn-lg active" role="button" aria-pressed="true" style="height:45px; width:297px; background-color:orangered; color:black; font-size:13px; border:1px solid orangered;">Read More</a>
                </td>
                <td class="table-light">
                    <a href="../Home/ReadMore4" target='_blank' class="btn btn-lg active" role="button" aria-pressed="true" style="height:45px; width:297px; background-color:orangered; color:black; font-size:13px; border:1px solid orangered;">Read More</a>
                </td>
            </tr>
        </table><br />



        <p>
            Disclaimer** DD Charges for Education Verification and Official Charges for Police / Court Verification are extra.
            Charges can vary based on University fees and Police / Court fees.
        </p>
        <br />

        <a style="font-size:25px;">
            <img src="~/images/man-icon.png" style="height:30px; width:20px;">  INDUSTRIES
        </a>
        <div class="row">
            <div class="col-sm-6" style="background-color:orangered; height:5px;"></div>
            <div class="col-sm-6" style="background-color:black; height:5px;"></div>
        </div><br /><br />

        <div class="row">
            <div class="col-sm-3">
                
                    <img src="~/images/car.png" class="img-responsive rounded" alt="AUTOMOBILE INDUSTRY" title="AUTOMOBILE INDUSTRY" height="39" width="63"> AUTOMOBILE INDUSTRY
                <br /><br />

                
                    <img src="~/images/cap.png" class="img-responsive rounded" alt="EDUCATION VERIFICATION" title="EDUCATION VERIFICATION" height="39" width="63"> EDUCATION VERIFICATION
                <br /><br />

                
                    <img src="~/images/ittool.png" class="img-responsive rounded" alt="IT & ITES" title="IT & ITES" height="39" width="63"> IT & ITES
                <br /><br />

                
                    <img src="~/images/medsin.png" class="img-responsive rounded" alt="Pharma & Healthcare" title="Pharma & Healthcare" height="39" width="63"> PHARMA & HEALTHCARE
                
            </div>


            <div class="col-sm-3">
                
                    <img src="~/images/finance.png" class="img-responsive rounded" alt="BANKING & FINANCE" title="BANKING & FINANCE" height="39" width="63"> BANKING & FINANCE
               <br /><br />

                
                    <img src="~/images/toolsf.png" class="img-responsive rounded" alt="Facilities management" title="Facilities management" height="39" width="63"> FACILITIES MANAGEMENT
                <br /><br />

                
                    <img src="~/images/hamer.png" class="img-responsive rounded" alt="Legal Services" title="Legal Services" height="39" width="63"> LEGAL SERVICES
                <br /><br />

                
                    <img src="~/images/house.png" class="img-responsive rounded" alt="Real Estate" title="Real Estate" height="39" width="63"> REAL ESTATE
                
            </div>

            <div class="col-sm-3">
                
                    <img src="~/images/consultancy.png" class="img-responsive rounded" alt="CONSULTANCY SERVICES" title="CONSULTANCY SERVICES" height="39" width="63"> CONSULTANCY SERVICES
                <br /><br />

                
                    <img src="~/images/fmcg.png" class="img-responsive rounded" alt="FMCG" title="FMCG" height="39" width="63"> FMCG
                <br /><br />

                
                    <img src="~/images/travel.png" class="img-responsive rounded" alt="TRAVEL & LEISURE" title="TRAVEL & LEISURE" height="39" width="63"> TRAVEL & LEISURE
                <br /><br />

                
                    <img src="~/images/e-commerce.png" class="img-responsive rounded" alt="E-COMMERCE" title="E-COMMERCE" height="39" width="63"> E-COMMERCE
                
            </div>

            <div class="col-sm-3">
                
                    <img src="~/images/van.png" class="img-responsive rounded" alt="LOGISTICS" title="LOGISTICS" height="39" width="63"> LOGISTICS
                <br /><br />

                
                    <img src="~/images/hospitality.png" class="img-responsive rounded" alt="HOSPITALITY" title="HOSPITALITY" height="39" width="63"> HOSPITALITY
                <br /><br />

                
                    <img src="~/images/media.png" class="img-responsive rounded" alt="MEDIAE" title="MEDIA" height="39" width="63"> MEDIA
                <br /><br />

                
                    <img src="~/images/toolsf.png" class="img-responsive rounded" alt="Legal Services" title="Legal Services" height="39" width="63"> LEGAL SERVICES
                <br /><br />
            </div>
        </div><br />



        <a style="font-size:25px;">
            <img src="https://verifacts.co.in/wp-content/themes/verifacts/images/man-icon.png" style="height:30px; width:20px;">   SALIENCE
        </a>
        <div class="row">
            <div class="col-sm-6" style="background-color:orangered; height:5px;"></div>
            <div class="col-sm-6" style="background-color:black; height:5px;"></div>
        </div><br /><br />

        <div class="row">
            <div class="col-sm-2">
                <img src="~/images/speed.png" alt="Speed"><br />
                <p style="font-size:20px; margin-left:23px;">SPEED</p>
            </div>

            <div class="col-sm-2">
                <img src="~/images/quality.png" alt="Quality"><br />
                <p style="font-size:20px; margin-left:17px;">QUALITY</p>
            </div>

            <div class="col-sm-2">
                <img src="~/images/services.png" alt="Service"><br />
                <p style="font-size:20px; margin-left:15px;">SERVICE</p>
            </div>

            <div class="col-sm-2">
                <img src="~/images/relaibility.png" alt="Reliability"><br />
                <p style="font-size:20px; margin-left:0px;">RELIABILITY</p>
            </div>

            <div class="col-sm-2">
                <img src="~/images/research.png" alt="Research"><br />
                <p style="font-size:20px; margin-left:3px;">RESEARCH</p>
            </div>
            <div class="col-sm-2">
                <img src="~/images/authentic.png" alt="Authentic"><br />
                <p style="font-size:20px; margin-left:5px;">AUTHENTIC</p>
            </div>
        </div>

    </div>