@{
    ViewBag.Title = "Insights";
}


    <div class="container-fluid">
        <img src="~/images/careers.png" style="height:350px; width:100%;"><br /><br />
        <div class="row">
            <div class="col-sm-3">
                <a style="font-size:25px;">
                    <img src="~/images/man-icon.png" style="height:30px; width:20px;"> INSIGHTS
                </a>
            </div>
            <div class="col-sm-4" style="background-color:orangered; height:5px; margin-top:20px;"></div>
            <div class="col-sm-4" style="background-color:black; height:5px; margin-top:20px; margin-left:70px;"></div>
        </div><br /><br />

        <p>
            India has emerged as a global player and the favored destination for IT and IT Enabled Services activities largely for
            its English speaking pool, strong management capabilities and entrepreneurship. Already employing a whopping 1.5 million
            strong force, it is reason enough for companies to focus on long term strategic goals to retain competitive advantage.
        </p>

        <p>
            As companies steadfastly aim to move up the value chain – where the value and economic benefits are even
            higher – demand for new skill sets to steer the new service lines and high end processes is gaining momentum. Talent
            pool is hence key to leveraging the advantage of companies in this segment. While India has a vast talent pool, the
            challenge to companies today is in hiring the right talent, developing the right skill sets and retaining it.
        </p>

        <p>
            Recruitment practices are playing a key role with the expansion of services and infrastructure. Issues of governance,
            business continuity, safety and security are as critical for both customers and service providers alike. Wrong hiring
            results in multiple problems in work place e.g.,
        </p>

        <ul style="margin-left:30px;">
            <li>Lawsuits By Employees Or Third Parties</li>
            <li>Workplace Violence</li>
            <li>Unqualified employees, Lost business and customers</li>
            <li>Theft, Embezzlement, Or Property Damage</li>
            <li>Negligent Hiring Exposure</li>
            <li>Sexual Harassment Difficulties</li>
            <li>Financial losses, Fraudulent Claims</li>
        </ul>

        <p>
            Verifacts, hence, is the critical success factor in your recruitment process. Focusing on background
            screening and credentials verification from its proven Candidate Authentication Program (CAP),
            Verifacts offers best-of-breed and cost-effective services empowering employers & recruiters to make
            the right hiring decision.
        </p><br />

        <div class="row">
            <div class="col-sm-3">
                <a style="font-size:25px;">
                    <img src="~/images/man-icon.png" style="height:30px; width:20px;"> CASE STUDY
                </a>
            </div>
            <div class="col-sm-4" style="background-color:orangered; height:5px; margin-top:20px;"></div>
            <div class="col-sm-4" style="background-color:black; height:5px; margin-top:20px; margin-left:70px;"></div>
        </div><br /><br />

        <div class="row">
            <div class="col-sm-3">
                <img src="~/images/beware-cheatersontheprowl_small.jpg" style="height:375px; width:290px; border:1px solid black;" />
            </div>
            <div class="col-sm-3">
                <img src="~/images/fake-certificate-on-rise-case-study_small-1.jpg" style="height:375px; width:290px; border:1px solid black;" />
            </div>
            <div class="col-sm-3">
                <img src="~/images/ThecaseofanEx-Employee_small.jpg" style="height:375px; width:290px; border:1px solid black;" />
            </div>
            <div class="col-sm-3">
                <img src="~/images/fake-certificate-on-rise-case-study_small-1.jpg" style="height:375px; width:290px; border:1px solid black;" />
            </div>
        </div><br />

        <div class="row">
            <div class="col-sm-3">
                <img src="~/images/To-detect-fake.jpg" style="height:375px; width:290px; border:1px solid black;" />
            </div>
            <div class="col-sm-3">
                <img src="~/images/A-classic-case-of-Impersonation.jpg" style="height:375px; width:290px; border:1px solid black;" />
            </div>
            <div class="col-sm-3">
                <img src="~/images/Another-case-of-Fake-Degree-Certificate.jpg" style="height:375px; width:290px; border:1px solid black;" />
            </div>
            <div class="col-sm-3">
                <img src="~/images/This-is-how.jpg" style="height:375px; width:290px; border:1px solid black;" />
            </div>
        </div>






    </div>
