@{
    ViewBag.Title = "Licence Check";
}

<div style="height:20px;"></div>
<div class="container-fluid">
    <img src="~/images/lnc.jpg" style="height:350px; width:100%;"><br /><br />

    <a style="font-size:25px;">
        <img src="~/images/man-icon.png" style="height:30px; width:20px; margin-left:310px;"> LICENCE CHECK
    </a>
    <div class="row">
        <div class="col-sm-3">
            <p style="font-size:19px;">E Coupon</p><hr color="black" size="17" width="90%" />
        </div>
        <div class="col-sm-4" style="background-color:orangered; height:5px; margin-top:41px;"></div>
        <div class="col-sm-4" style="background-color:black; height:5px; margin-top:41px;"></div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <p style="color:gray; font-size:13px;">Coming Soon….</p>
        </div>
        <div class="col-sm-8">
            
            <a href="../Home/EducationLogin" class="btn btn-lg active" role="button" aria-pressed="true" style="background-color:forestgreen;">
                Login
            </a>
            <a href="../Home/EducationLogin" class="btn btn-lg active" role="button" aria-pressed="true" style="background-color:forestgreen;">
                Register
            </a>
            <a href="#" class="btn btn-lg active" role="button" aria-pressed="true" style="background-color:forestgreen;">
                Download Report
            </a>
        </div>
    </div>




</div>