@{
    ViewBag.Title = "Our Advantage";
}


<div class="container-fluid">
    <img src="~/images/slide3.png" style="height:350px; width:100%;"><br /><br />
    <div class="row">
        <div class="col-sm-3">
            <a style="font-size:25px;">
                <img src="~/images/man-icon.png" style="height:30px; width:20px;"> OUR ADVANTAGE
            </a>
        </div>
        <div class="col-sm-4" style="background-color:orangered; height:5px; margin-top:20px;"></div>
        <div class="col-sm-4" style="background-color:black; height:5px; margin-top:20px; margin-left:70px;"></div>
    </div><br /><br />

    <ul>
        <li>Verifacts is considered to be a pioneer in the Background Verification Industry.</li>
        <li>Founded & led by an Ex-Army Officer, inculcating the core values of integrity, ethics, team work, responsiveness & customer centricity.</li>
        <li>We are a leading company in this Industry associated with more than 700 Clients.</li>
        <li>Pan India service delivery with 8 zonal offices and business associates for International verifications.</li>
        <li>Dedicated multi-lingual teams providing high quality service.</li>
        <li>Developed own Software(Secure Networked Distributed Enterprise Application Workflow System)</li>
        <li>We have a dedicated CAM for every client and ensure high quality of work through our employees.</li>
        <li>We have a 100% record of client retention in the last 2 years.</li>
    </ul><br />

    <h3>VERIFACTS OPERATIONAL STRENGTH</h3><br />

    <h4>Expertise</h4>
    <p>We are experienced professionals in our field and are detail-driven in our research. Verifacts offers industry’s fastest turn around.</p>

    <h4>Personalized Service</h4>
    <p>Our staff is constantly in touch with our clients at all times, providing them with the latest update.</p>

    <h4>Global Reach</h4>
    <p>With 9 branches and having access to over 1600+ cities and towns in India, aided by strategic partners across the world.</p>

    <h4>Real-Time Access</h4>
    <p>Verifacts Candidate Authentication Program (CAP) provides Web-based, real-time access to a subject’s background check status. Your applications are neverfar from you and you have a 24×7, Fast & Easy access to information, saving both time and money for your Organization</p>

</div>