@{
    ViewBag.Title = "Press Releases";
}


    <div class="container-fluid">
        <img src="~/images/careers.png" style="height:350px; width:100%;"><br /><br />
        <div class="row">
            <div class="col-sm-3">
                <a style="font-size:25px;">
                    <img src="~/images/man-icon.png" style="height:30px; width:20px;"> PRESS RELEASES
                </a>
            </div>
            <div class="col-sm-4" style="background-color:orangered; height:5px; margin-top:20px;"></div>
            <div class="col-sm-4" style="background-color:black; height:5px; margin-top:20px; margin-left:70px;"></div>
        </div><br /><br />

        <div class="row">
            <div class="col-sm-6">
                <ul>
                    <li>Join us in Talent track Awards at The westin, Goregaon East today!!!</li>
                </ul>
                <a href="#" style="margin-left:40px;">More Details</a>
            </div>
            <div class="col-sm-4"></div>
        </div><br />

        <div class="row">
            <div class="col-sm-6">
                <ul>
                    <li>Verifacts launches a fresh Online Self Services Portal</li>
                </ul>
                <a href="#" style="margin-left:40px;">More Details</a>
            </div>
            <div class="col-sm-4"></div>
        </div><br />

        <div class="row">
            <div class="col-sm-6">
                <ul>
                    <li>Press Release (Share Purchase Agreement with Verifacts Services Pvt Ltd)</li>
                </ul>
                <a href="#" style="margin-left:40px;">More Details</a>
            </div>
            <div class="col-sm-4"></div>
        </div><br />

        <div class="row">
            <div class="col-sm-6">
                <ul>
                    <li>Modern India Limited to buy 76% in Bangalore-based Verifacts Services</li>
                </ul>
                <a href="#" style="margin-left:40px;">More Details</a>
            </div>
            <div class="col-sm-4"></div>
        </div>


    </div>

