@{
    ViewBag.Title = "Psychometric Test";
}

<div style="height:20px;"></div>
<div class="container-fluid">
    <img src="~/images/ormsheet.jpg" style="height:350px; width:100%;"><br /><br />

    <a style="font-size:25px;">
        <img src="~/images/man-icon.png" style="height:30px; width:20px; margin-left:310px;"> PSYCHOMETRIC TEST
    </a>
    <div class="row">
        <div class="col-sm-3">
            <p style="font-size:19px;">E Coupon</p><hr color="black" size="17" width="90%" />
        </div>
        <div class="col-sm-4" style="background-color:orangered; height:5px; margin-top:41px;"></div>
        <div class="col-sm-4" style="background-color:black; height:5px; margin-top:41px;"></div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <p style="color:gray; font-size:13px;">Coming Soon….</p>
        </div>
        <div class="col-sm-8">
            <p><strong>What –</strong> Psychometric testing refers to the process of measuring a candidate’s relevant strengths and weaknesses. This form of measurement is primarily employed to assess employment suitability, including company-candidate fit. This is a must for risk free recruitment.</p><br />

            <p><strong>Why –</strong> Psychometric tests can detect aberrations and undesirable personality traits. These are used extensively all over the world to mitigate risks of a wrong hire who can cause huge damage to the Company. It is designed to find job-relevant information about the candidate which an interview may not be able to cover. It is a combination of aptitude and personality tests conducted online providing more or less accurate information on the candidate’s cognitive abilities and personality / behavioral style.</p><br />

            <p><strong>How –</strong> It is an online test with objective-type questionnaire can be customized according to the Job Profile of the Individual. Our experts draw an analysis based on the answers given depicting the score on the candidate’s core competencies.</p><br />

            <a href="../Home/EducationLogin" class="btn btn-lg active" role="button" aria-pressed="true" style="background-color:forestgreen;">
                Login
            </a>
            <a href="../Home/EducationLogin" class="btn btn-lg active" role="button" aria-pressed="true" style="background-color:forestgreen;">
                Register
            </a>
            <a href="#" class="btn btn-lg active" role="button" aria-pressed="true" style="background-color:forestgreen;">
                Download Report
            </a>
        </div>
    </div>




</div>