@{
    ViewBag.Title = "Read More";
}


<div style="background-color:red; height:20px;"></div>
<br />
<br />
<div class="container" style=" height:500px; width:100%; background-color:azure;">
    <div style="height:50px; width:100%; background-color:#b3b300;">
        <p style="font-size:29px; color:white; text-align:center;"><b>Silver</b></p>
    </div><br /><br />
    <strong>Domestic Help</strong>
    <p>
        Domestic servants comprise of cook, driver, houseboy, housemaid, Aya and chowkidar (watchman), these are generally 
        employed to work on full-time basis and also made to stay in the employer’s house for convenience of the employers. 
        Several crimes involving domestic help and other personal employees have been reported in the city in the recent past. 
        Before hiring, the residents will have to furnish information like their photo, identification documents, information 
        regarding prior employment, address proof, names of his/her family members and their contact numbers in the local 
        police station.
    </p><br />

    <strong>Security Guard</strong>
    <p>
        Security guard are the first line of defense if something goes wrong in the company or private facilities. Companies put 
        the safety of their employees, customers, and property in the hands of Security Gaurds. Crimes involving security guards 
        are increasingly on the rise. Companies want to protect themselves from lawsuits. In india as per PASARA Act, all the 
        guards to be checked and police verification certificate to be obtained only then they are placed on the the site.
    </p><br />

    <strong>Drivers Check</strong>
    <p>
        Reported incidences of car drivers being involved in crimes in the IT/ ITeS sector, it is very important to conduct 
        BGV check on Drivers before even they are onboarded.
    </p>
</div>