@{
    ViewBag.Title = "Read More";
}


<div style="background-color:red; height:20px;"></div>
<br />
<br />
<div class="container" style=" height:450px; width:100%; background-color:azure;">
    <div style="height:50px; width:100%; background-color:#b3b300;">
        <p style="font-size:29px; color:white; text-align:center;"><b>Gold</b></p>
    </div><br /><br />
    <strong>Marriage Verification</strong>
    <p>
        It is essential to get into marriage life when you are aware of the person whom you are marrying. You should 
        know both the aspects - bad and good about your partner. In Marriage Verification we can check on person's Past 
        Life, Criminal Record, Financial status (bankruptcy, bad credit and debts ), to know if your partner was ever 
        married or divorced.
    </p><br />

    <strong>Self Verification</strong>
    <p>
        The process of getting one’s own documents verified through a third party background verification agency is 
        known as self verification. In the wake of the fake universities and fake certificates coming into light every 
        other day, there is a need which can prove the authentication of the education institutions or the certificates. 
        and certificates issued by them. Candidate with verified credentials always gets an upper hand among candidates 
        with unverified credentials. A candidate carrying a verification report from credible background screening 
        agency always impress a recruiter as it saves their precious time and cost involved in the verification process.
    </p>
</div>