@{
    ViewBag.Title = "Read More";
}


<div style="background-color:red; height:20px;"></div><br /><br />
    <div class="container" style=" height:350px; width:100%; background-color:azure;">
        <div style="height:50px; width:100%; background-color:#b3b300;">
            <p style="font-size:29px; color:white; text-align:center;"><b>Customised Verification</b></p>
        </div><br /><br />
        <strong>Customised Verification</strong>
        <p>
            Verifyprism helps you meet your specific background check needs by providing the most cost-effective screening services
            available as per your requirements, we can customise verification packages inline with both your needs and budget.
            You can select the checks that you need from the below given list and we get you the required results.
        </p>
    </div>