@{
    ViewBag.Title = "Read More";
}


<div style="background-color:red; height:20px;"></div>
<br />
<br />
<div class="container" style=" height:350px; width:100%; background-color:azure;">
    <div style="height:50px; width:100%; background-color:#b3b300;">
        <p style="font-size:29px; color:white; text-align:center;"><b>Platinum</b></p>
    </div><br /><br />
    <strong>Know your leader</strong>
    <p>
        In KYL we conduct a 360 check on the Mid Level / Sr.Level Managers like employee's immediate work circle. 
        Most often, feedback will include direct feedback from an employee's subordinates, peers (colleagues), and 
        supervisor(s), who have worked with the candidate in the past. Here we can measure the behaviour, 
        conduct and competencies & evaluation focuses on subjective areas such as teamwork, character, and leadership 
        effectiveness.
    </p>
</div>