@{
    ViewBag.Title = "Reference Check";
}

<div style="height:20px;"></div>
<div class="container-fluid">
    <img src="~/images/slide3.png" style="height:350px; width:100%;"><br /><br />

    <a style="font-size:25px;">
        <img src="~/images/man-icon.png" style="height:30px; width:20px; margin-left:310px;"> REFERENCE CHECK
    </a>
    <div class="row">
        <div class="col-sm-3">
            <p style="font-size:19px;">E Coupon</p><hr color="black" size="17" width="90%" />
        </div>
        <div class="col-sm-4" style="background-color:orangered; height:5px; margin-top:41px;"></div>
        <div class="col-sm-4" style="background-color:black; height:5px; margin-top:41px;"></div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <p style="color:gray; font-size:13px;">Coming Soon….</p>
        </div>
        <div class="col-sm-8">
            <p><strong>What –</strong> A reference check is when a job applicant’s previous employers and other sources are contacted to learn more about his or her credentials.</p><br />

            <p><strong>Why –</strong> Professional references help Organizations gain an additional level of information on their applicant, beyond what is listed on their resume that can provide them greater insight to a person’s work ethic and abilities, conduct, behavior & integrity. Contacting the candidates’ colleagues and coworkers to gauge the applicant’s capabilities and authenticate work history.</p><br />

            <p><strong>How –</strong> This check is conducted on the references provided by the candidate. A list of questions is sent to the reference by email or sought information on a call. Details about the candidate’s effectiveness in role played, technical competence, supervisory skills, areas of improvement and overall profile is gathered.</p><br />

            <a href="../Home/EducationLogin" class="btn btn-lg active" role="button" aria-pressed="true" style="background-color:forestgreen;">
                Login
            </a>
            <a href="../Home/EducationLogin" class="btn btn-lg active" role="button" aria-pressed="true" style="background-color:forestgreen;">
                Register
            </a>
            <a href="#" class="btn btn-lg active" role="button" aria-pressed="true" style="background-color:forestgreen;">
                Download Report
            </a>
        </div>
    </div>




</div>