@{
    ViewBag.Title = "Online Companies Report";
}


<div style="height:20px; background-color:gold;"></div>


<div>
    <h2 style="color:crimson; text-align:center;">CLIENT FACILITATION FOR VIEW OF CDF STATUS</h2><br /><br /><br />

    <p style="font-size:25px; margin-left:5px;">LOG IN PAGE FOR CLIENT COMPANIES</p>

    <div class="row">
        <div class="col-sm-3" style="background-color:antiquewhite; border:2px double red; margin-left:20px;">
            <img src="~/images/verifacts-logo.jpg" height="100" width="310" /><br /><br />
            <strong>INSTRUCTIONS</strong>
            <ul>
                <li>You are at the log in page for client companies of Verifacts Group.</li>
                <li>Please enter the company ID<br /> (optional username) and password provided to you by Verifacts Group.</li>
                <li>If you wish to quit, then</li>
            </ul>
        </div>
        <div class="col-sm-7">
            <strong style="color:forestgreen;">YOU ARE WELCOME TO THE ONLINE CDF STATUS VIEW FACILITY.</strong><br /><br />
            <p style="color:forestgreen;">
                PLEASE LOG IN TO THE CVWS WEB SERVER.<br />
                Access to this facility is through a Company ID and Password supplied for this purpose.<br />
                Optionally, usernames may have been specified if so instructed.<br />
                Please approach your Client Manager at Verifacts Group if you have not been online facilitated.<br />
                Please key in Company ID (,optionally username) and Password exactly as given into the boxes below.
            </p>

            <p style="color:forestgreen;">
                ENTER GIVEN COMPANY ID <input type="text" name="email" style="height:25px; width:150px;" />
            </p>
            <p style="color:forestgreen;">
                (USERNAME IF SPECIFIED) <input type="text" name="email" style="height:25px; width:150px; margin-left:11px;" />
            </p>
            <p style="color:forestgreen;">
                ENTER GIVEN PASSWORD <input type="password" name="pass" style="height:25px; width:250px; margin-left:11px;" />
                <button style="font-size:14px; height:25px;">LOG IN</button>
            </p>
            <p style="color:forestgreen;">
                AFTER A SUCCESSFUL LOG IN, FETCHING OF CDF DATA MAY TAKE SOME TIME, PLEASE BE PATIENT.<br />
                IF LOG IN IS NOT SUCCESSFUL, ERROR WILL BE REPORTED ON TOP LEFT OF PAGE.
            </p>
        </div>
    </div>
</div>