@{
    ViewBag.Title = "Terms Of Use";
}


    <div class="container-fluid">
        <img src="~/images/careers.png" style="height:350px; width:100%;"><br /><br />
        <div class="row">
            <div class="col-sm-3">
                <a style="font-size:25px;">
                    <img src="~/images/man-icon.png" style="height:30px; width:20px;"> TERMS OF USE
                </a>
            </div>
            <div class="col-sm-4" style="background-color:orangered; height:5px; margin-top:20px;"></div>
            <div class="col-sm-4" style="background-color:black; height:5px; margin-top:20px; margin-left:70px;"></div>
        </div><br /><br />

        <strong>Payments, Refunds & Cancellation</strong><br /><br />

        <strong>Payments:</strong>
        <p>
            1. Online Payments can be done by: Online Payment: Card payment and Net Banking
            Payment via Easebuzz Payment Gateway can be done at Online Payment link on Make Payment page.
        </p>

        <p>
            2. Problem with an order or payment: Please talk to us on 080 6782 2222 or email us at
            sales.bengaluru@verifacts.co.in
        </p>

        <p><strong>Refunds & Cancellation:</strong> 1. Refunds initiated will be credited to the account/card from where the transaction had initiated.</p>

        <p>
            <strong>Terms & Conditions</strong>To avail the services offered at https://verifacts.co.in/, you must agree to the following terms and conditions:
        </p>

        <p>Please read the term and conditions carefully. While using any current or future services offered 
        by https://verifacts.co.in/, whether or not included in the https://verifacts.co.in/ website, you will abide by 
        these Terms & conditions, besides the guidelines and conditions applicable to such service or business.</p><br />

        <strong>Privacy Policy:</strong>
        <p>Privacy Policy Please review our Privacy Policy, which also governs your visit to https://verifacts.co.in/, to 
        fully understand our practices.</p>

        <p><strong>Electronic Communication:</strong>When you visit https://verifacts.co.in/ or send e-mails to us, you are 
        communicating with us electronically. By communicating with us, you consent to receive communication from us 
        electronically. We will communicate with you by e-mail or by posting notices on our website. You agree that all 
        agreements, notices, disclosures, and other communications that we provide to you electronically satisfy any legal 
        requirement that such communication be in writing.</p>

        <p><strong>Prices:</strong>All prices posted on this website are subject to change without prior notice, whatsoever. 
        Prices prevailing at commencement of placing the order will apply. Posted prices do not include convenience fee. In 
        case there are any additional charges or taxes the same will be mentioned on the website.</p>

        <p><strong>Payment:</strong> Online Payments can be done by: Online Payment: Card payment and Net Banking Payment 
        via Easebuzz Payment Gateway can be done at Online Payment link on Make Payment page.</p>

        <p><strong>Changes and Cancellation:</strong> Changes and Cancellation are not allowed.</p>

        <p><strong>Refund:</strong> Refunds initiated will be credited to the account/card from where the transaction was 
        initiated while processing the payment.</p><br />

        <strong>License and Website Access</strong>

        <p><strong>General:</strong> https://verifacts.co.in/ grants you a limited license to access and make personal use 
        of this website and not to download (other than page caching) or the pages, content and/ or to copy any portion of it, 
        except with express written consent to be secured from http://verifacts.co.in 
        (the Authorized Signatory or the IT Head).</p>

        <p><strong>No license for commercial sale:</strong> This limited license being so granted as specified herein above 
        does not include any right towards resale or any commercial use of this website or its content; any collection and 
        use of any product listing, description, or pricing; copying of account information for the benefit of another 
        merchant; or any use of data mining, or similar data gathering and extraction tools.</p>

        <p><strong>No reproduction:</strong> This website or any portion of this website should not be reproduced, duplicated, 
        copies, sold, visited, or otherwise exploited for any commercial purpose without express written consent 
        of https://verifacts.co.in/ (the Authorized Signatory or the IT Head).</p>

        <p><strong>Metatags:</strong> You may not use any metatags or any other ‘hidden text’ 
        utilizing Verifacts Services Pvt. Ltd. name or trademarks without the express written consent 
        of https://verifacts.co.in/. Any unauthorized use terminates the permission or license granted 
        by https://verifacts.co.in/ </p> <br />

        <strong>Reviews, Comments, Communications, and other content</strong>

        <p><strong>Nature of content:</strong> Visitors to https://verifacts.co.in/ may post content and other communications; 
        and submit suggestions, ideas, comments, questions or other information, as long as the content is not illegal, 
        obscene, threatening, defamatory, invasive of privacy, infringing of intellectual property rights to otherwise 
        injuries to third party or objectionable and does not consist of or contains software virus, political campaigning, 
        commercial solicitation, mass mailing or any form of spam.</p>

        <p><strong>False information:</strong> You may not use false email address, impersonate any person or entity, or 
        otherwise mislead as to the origin of a card or other content. https://verifacts.co.in/ reserves the right 
        (but not the obligation) to remove or edit such content but does not regularly review posted contents.</p>

        <p><strong>Rights Granted:</strong> If you do post content or submit material and unless we indicate otherwise, you 
        grant https://verifacts.co.in/ a non-exclusive, royalty free, perpetual, irrevocable, and fully sub-licensed right 
        to use, reproduce, modify, adapt, publish, translate, create derivative work from, distribute, and display such 
        content throughout the world in any media. You grant https://verifacts.co.in/ the right to use the name that you 
        submit in connection with such content if https://verifacts.co.in/ chooses.</p>

        <p><strong>Right Owned:</strong> You represent and warrant that you own all the rights or otherwise or control all of 
        the rights to the content that you post; that the content is accurate; that the use of the content to supply does not 
        violate this policy and will not cause injury to any person or entity and that you will indemnify https://verifacts.co.in/ 
        for all claims resulting from the content you supply. https://verifacts.co.in/ has the right but not the obligation 
        to monitor and edit or remove any activity or content. https://verifacts.co.in/ takes no responsibility and assumes no 
        liability for any content posted by you or any third party.</p>

        <p><strong>Site Policies, Modification, and Severability</strong> Please review our other policies. We reserve the 
        right to make changes to our website, policies, and these Terms and Conditions at any time. If any of these conditions 
        shall be deemed invalid, void, or for any reason unenforceable, that condition shall be deemed severable and will 
        not affect the validity and enforceability of any remaining conditions.</p><br />

        <strong>Intellectual Property Rights</strong>

        <p><strong>Copyright Protection:</strong> All content included on this site, such as text, graphics, logos, button 
        icons, audio clips, digital downloads, data compilations and software, is the property of https://verifacts.co.in/ 
        and protected by the Indian Copyright law. The compilation of all the content on this site is the exclusive property 
        if https://verifacts.co.in/ and protected by Indian Copyright law. All software used in this site is the property 
        of https://verifacts.co.in/ and is protected under the Indian Copyright law.</p><br />

        <strong>Trademarks:</strong>


        <p><strong>i. Protected Marks:</strong> https://verifacts.co.in/, and other marks indicated on https://verifacts.co.in/ 
        website are registered trademarks of https://verifacts.co.in/ </p>

        <p><strong>ii. Protected Graphics:</strong> All https://verifacts.co.in/ graphics, logos, page headers, button icons, 
        scripts and service names are trademarks or trade dress of https://verifacts.co.in/. https://verifacts.co.in/ 
        trademarks and trade dress may not be used in connections with any product or service that is not 
        of https://verifacts.co.in/ </p>

        <p><strong>Governing Law and Jurisdiction</strong> These terms and conditions will be construed only in accordance 
        with the laws of India. In respect of all matters/disputes arising out of, in connection with or in relation to these 
        terms and conditions or any other conditions on this website, only the competent Courts at Mumbai, Mumbai shall have 
        jurisdiction, to the exclusion of all other courts.</p>

        <p><strong>Disclaimer of warranties and Limitation of Liability</strong> THIS SITE IS PROVIDED BY VERIFACTS SERVICES 
        PRAVATE LIMITED ON AN “AS IS” AND “AS AVAILABLE” BASIS. VERIFACTS SERVICES PRAVATE LIMITED MAKES NO REPRESENTATIONS 
        OR WARRANTIES OF ANY KIND, EXPRESS OR IMPLIED, AS TO THE OPERATION OF THIS SITE OR THE INFORMATION, CONTENT, 
        MATERIALS, OR PRODUCTS INCLUED ON THIS SITE. YOU EXPRESSLY AGREE THAT YOUR USE OF THIS SITE IS AT YOUR SOLE RISK.</p>

        <p>TO THE FULL EXTENT PERMISSIBLE BY APPLICABLE LAW, https://verifacts.co.in/ DISCLAIMS ALL WARRANTIES, EXPRESS OR 
        IMPLIED, INCLUDING, BUT NOT LIMITED TO, IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR 
        PURPOSE. https://verifacts.co.in/DOES NOT WARRANT THAT THE SITE, ITS SERVERS, OR EMAIL SENT 
        FROM https://verifacts.co.in/ ARE FREE OF VIRUS OR OTHER HARMFUL COMPONENTS. https://verifacts.co.in/ WILL NOT BE 
        LIABLE FOR ANY DAMAGES OF ANY KIND ARISING FROM THE USE OF THIS SITE, INCLUDING, BUT NOT LIMITED TO DIRECT, INDIRECT, 
        INCIDENTAL, PUNITIVE AND CONSEQUENTIAL DAMAGES.</p>

        <p><strong>Privacy Policy</strong> We maintain full privacy of your personal information shared with us. We never 
        misuse any of your personal information. Our privacy policy is as given below:</p>

        <p><strong>1. Collection and Sharing of customer information:</strong> We collect information from you only after you 
        agree to provide it. Any information you give us is held with care and security. This information is collected 
        primarily to ensure that we ship your products without any hassles.</p>

        <p>We may collect your title, name, gender, email address, postal address, delivery address (if different), telephone 
        number, mobile number, fax number, payment details or bank account details. All this information is processed securely 
        for your protection.</p>

        <p>Your actual order details may be stored with us and you may access this information by logging into your account 
        on the Site. You undertake to treat the personal access data confidentially and not make it available to unauthorized 
        third parties.</p>

        <p>Under no circumstances do we rent, trade or share your personal information that we have collected with any other 
        company for their marketing purposes without your consent. We reserve the right to communicate your personal 
        information to any third party that makes a legally-compliant request for its disclosure.</p>

        <p><strong>2. Intellectual Property Rights:</strong> All content included on this site, such as text, graphics, logos, 
        button icons, images and software, is the property of VERIFACTS SERVICES PRIVATE LIMITED. All content on the Site 
        that is not the property of VERIFACTS SERVICES PRIVATE LIMITED and is used with permission.</p>



    </div>

